<section class="contents text-center p-60 p-lg-100 contents-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-8">
        {% if component.image|length %}
          {% set image = component.image.first %}
          <img class="mb-40" src="{{ image.url }}" alt="{{ image.title }}"/>
        {% endif %}
        <h4>
          {{ component.text|nl2br }}
        </h4>
      </div>
    </div>
  </div>
</section>